<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
      body{
        background-image: url("C:\Users\Luka\OneDrive\Dokumenti\GeoQuiz\views\Europe_map.png") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }
    </style>
    <title>GeoQuiz</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg" style="background-color: #aaa3ce;">
      <a class="nav-link disabled mr-auto" href="#" style="color: black; font-size: large; font-weight: bold;">
      GeoQuiz
      </a>
      % if defined('izbrani_zavihek'):
        % for zavihek in zavihki:
          % if zavihek == izbrani_zavihek:
      <a class="nav-link active mr-auto" href="/{{zavihek}}/" style="color: black;">{{oznaka_zavihka[zavihek]}}</a>
          %else:
      <a class="nav-link mr-auto" href="/{{zavihek}}/" style="color: black;">{{oznaka_zavihka[zavihek]}}</a>
          %end
        %end
      %end
      <form class="form-inline" method="POST" action="/odjava/">
        <button class="btn btn-outline-dark" type="submit"><b>Odjavi</b></button>
      </form>
    </nav>
    {{!base}}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script>
      $(function () {
        $('[data-toggle="popover"]').popover()
      })
    </script>
  
  </body>
</html>