<!doctype html>
% rebase('base.html')
% from model import Igra1, Igra2, Kviz
%import json




<div style="text-align:center">
<h1>LEVEL 1</h1>
</div>

<div style="text-align:center">
<p>
    Med štirimi možnimi odgovori glavnemu mestu določite pripadajočo državo. 
</p>
</div>




<form action="/odgovor/" method="POST" id="odgovor-form">
%for i in range(10):
    %mesto = igra1.mesta[i]
    %sez_odg = igra1.nabori_drzav[i]
    %drzava = igra1.pravilne_drzave[i]    
    <div class="container">
        <table class="table">
            <tr>
                <td style="width: 30%">{{mesto}}</td>
                <td style="text-align: left">
                    %for drzava in sez_odg:
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="{{i}}" id="inlineRadio1" value="{{drzava}}">
                            <label class="form-check-label" for="inlineRadio1">{{drzava}}</label>
                        </div>
                    %end
                </td>
            </tr>
%end

        </table>
    </div>
    <div class="container" style="text-align:center">
        <button class="btn btn-outline-dark" type="submit" name="potrdi" id="potrdi">Potrdi</button>
    </div>

</form>
    
