<!doctype html>
% rebase('base.html')
%import os
%from model import Uporabnik


<div style="text-align:center">
<h5 class="display-4">Pozdravljeni!</h5>
</div>
<p>
    Ta geografska igra je sestavljena iz dveh nivojev. Preverjali bomo vaše poznavanje prestolnic držav članic Evropske unije. Za napredovanje na naslednji nivo potrebujete vsaj 9/10 pravilnih odgovorov.
    Za vsak pravilni odgovor dobite eno točko. Rezultati iger se vam seštevajo v skupni seštevek, spodaj v tabeli si lahko ogledate na katero mesto ste uvrščeni med uporabniki.
</p>

<div style="text-align:center">
<table class="table table-bordered">
    <thead style="background-color: #aaa3ce;">
        <tr>
            <th>Uporabnik</th>
            <th>Število točk</th>
        </tr>
    </thead>

    <tbody>
    %seznam = []
    %for ime_datoteke in os.listdir('uporabniki'):
        %uporabnik = Uporabnik.nalozi_stanje(os.path.join('uporabniki', ime_datoteke))
        %seznam.append((uporabnik.uporabnisko_ime, uporabnik.skupne_tocke))
    %end
    %seznam.sort(key=lambda y: y[1], reverse=True)
    %for ime, tocke in seznam:
        <tr>
            <td>{{ime}}</td>
            <td>{{tocke}}</td>
        </tr>
    %end
    </tbody>
</table>
</div>

<div style="text-align:center">
    <form method="POST" action="/level1/">
        <button type="submit" class="btn btn-success">Začni igro</button>
    </form>

</div>