<!doctype html>
% rebase('base.html')
<div style="text-align:center">
<h5 class="display-4">Pozdravljeni!</h5>
</div>
<p>
    Ta geografska igra je sestavljena iz dveh nivojev. Preverjali bomo vaše poznavanje prestolnic držav članic Evropske unije. Za napredovanje na naslednji nivo potrebujete vsaj 9/10 pravilnih odgovorov.
    Za vsak pravilni odgovor dobite eno točko. V tabeli spodaj si lahko ogledate na katero mesto ste se uvrstili med uporabniki.
</p>

<div style="text-align:center">
<table>
    <tr>
        <th>Uporabnik</th>
        <th>Število točk</th>
    </tr>
    <tr>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
    </tr>
</table>
</div>

<div style="text-align:center">
<button type="button" class="btn btn-success">Začni igro</button>
</div>